
<div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Supprimer une tâche</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Voulez vous vraiment supprimer cette tâche ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="decline()">Fermer</button>
          <button type="button" class="btn btn-danger" (click)="accept()">Supprimer</button>
        </div>
      </div>
    </div>