<P></P><br>

<div class="wrapper">
  <div class="container">
    <div class=" panel panel-border panel-info ">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-12">
            <p></p><br>
            <h4 class="page-title">New task</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6"></div>
        </div>
        <form (ngSubmit)="f.form.valid && onSubmit() && !valideDate" #f="ngForm" class="form-vertical">
          <div class="container">
            <div class="form-group">
              <label for="name">Title</label>
              <input type="text" class="form-control" #title="ngModel" required [(ngModel)]="task.title" name="title">
              <div *ngIf="f.submitted && description.invalid">
                <div *ngIf="title.errors.required" class="alert alert-danger"> Please enter the title !!</div>
              </div>
            </div>

            <div class="form-group">
              <label for="name">Description</label>
              <textarea rows="4" cols="50" class="form-control" #description="ngModel" required
                        [(ngModel)]="task.description" name="description"></textarea>
              <div *ngIf="f.submitted && description.invalid">
                <div *ngIf="description.errors.required" class="alert alert-danger">Please enter the description!:</div>
              </div>
            </div>

            <div class="form-group">
              <label for="name">Start date </label>
              <input type="date" class="form-control" #startDate="ngModel" required [(ngModel)]="task.startDate"
                     name="startDate">

              <div *ngIf="f.submitted && startDate.invalid ">
                <div *ngIf="startDate.errors.required" class="alert alert-danger">Please enter the date!</div>
              </div>
            </div>

            <div class="form-group">
              <label for="name"> End date </label>
              <input type="date" class="form-control" #endDate="ngModel" required [(ngModel)]="task.endDate"
                     name="endDate">
              <div *ngIf="f.submitted && endDate.invalid ">
                <div *ngIf="endDate.errors.required" class="alert alert-danger">Please enter the date!</div>
              </div>
            </div>


            <div class="form-group">
              <label for="name"> State </label>
              <select class="form-control" #etat="ngModel" [(ngModel)]="task.etat" name="etat">
                <option value="to do"> To do</option>
                <option value="done" disabled> Done</option>
                <option value="problem" disabled> Problem</option>

              </select>


            </div>
            <div class="alert alert-success" *ngIf="submitted">
              <h4>Task successfully created !!</h4>
            </div>

            <div class="alert alert-danger" *ngIf="valideDate === true">
              <h4> Veuillez saisir une date valide !</h4>
            </div>

            <button type="submit" class="btn btn-info btn-rounded waves-effect waves-light m-b-5"> Create</button>

          </div>
        </form>

      </div>
    </div>
  </div>

