<p></p> <br>
<h3>Update task</h3>
  <form (ngSubmit)="onSubmit()"  #f="ngForm" class="contact3-form validate-form">
      <div class="container">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" required disabled [(ngModel)]="task.title" name="title">
    </div>

    <label for="name">Description</label>
    <textarea rows="4" cols="50" class="form-control" #description="ngModel" required [(ngModel)]="task.description" name="description"></textarea>
   
  <div class="form-group">
    <label for="name">Start date</label>
    <input type="datetime" class="form-control" #startDate="ngModel" required [(ngModel)]="task.startDate" name="startDate">
  </div>

  <div class="form-group">
    <label for="name">End date</label>
    <input type="datetime" class="form-control" #endDate="ngModel" required [(ngModel)]="task.endDate" name="endDate">
   
  </div>

   <div  *ngIf="userService.getRoleUser() === 'ROLE_MANAGER'"  class="form-group">
      <label for="name"> State
         </label>

      <select   class="form-control"  #etat="ngModel"  required [(ngModel)]="task.etat" name="etat">
          <option value="to do">To do </option>
          <option value="done" disabled>Done</option>
            <option value="problem" disabled >Problem</option>
      </select>
      
   </div>

  <div  *ngIf="userService.getRoleUser() === 'ROLE_MANAGER'"  class="form-group">
    <label for="name"> Status </label>

    <select   class="form-control"  #statut="ngModel"  required [(ngModel)]="task.affected" name="statut">
        <option value="true"> Affected </option>
        <option value="false"> Unaffected </option>
    </select>
    
 </div>
 
   <div  *ngIf="userService.getRoleUser() === 'ROLE_INGENIEUR'"  class="form-group">
    <label for="name"> State </label>

    <select   class="form-control"  #etat="ngModel"  required [(ngModel)]="task.etat" name="etat">
      <option value="to do">To Do </option>
      <option value="done">Done</option>
      <option value="problem">Problem</option>
    </select>
    
 </div>
 <div  *ngIf="userService.getRoleUser() === 'ROLE_TECHNICIEN'"  class="form-group">
  <label for="name"> State </label>

  <select   class="form-control"  #etat="ngModel"  required [(ngModel)]="task.etat" name="etat">
      <option value="to do">To do </option>
      <option value="done">Done</option>
      <option value="problem">Problem</option>
  </select>
  
</div>


<label for="name">Comment</label>
<textarea rows="4" cols="50" class="form-control" #comment="ngModel" required [(ngModel)]="task.comment" name="comment"></textarea>
  
    <button type="submit" class="btn btn-info">Update</button>
    <div class="alert alert-success" [hidden]="!submitted">
        <h4> Modification done successfully !! </h4>
       </div>
    </div>
  </form>
